<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:if condition="{pages -> f:count()} > {settings.xo.modules.teaser.readmoreLimit}">
		<f:then>
			<f:render section="ReadmoreContainer" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="CardContainer" arguments="{_all}" />
		</f:else>
	</f:if>

</f:section>

<f:section name="ReadmoreContainer">
	<div class="readmore-container">
		<div class="readmore-container--collapse">
			<f:render section="CardContainer" arguments="{pages: pages, settings: settings, additionalClass: 'readmore-container--body'}" />
		</div>
		<div class="readmore-container--toggle">
			<button class="button"><xo:svg.use name="readmore" viewBox="0 0 24 15" /><f:translate key="LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.action.loadmore" /></button>
		</div>
	</div>
</f:section>

<f:section name="CardContainer">
	<ul class="card--container {additionalClass}">
		<f:for each="{pages}" as="page">
			<li class="card" data-uri-target="{f:uri.page(pageUid: page.uid)}">
				<f:render section="Item" arguments="{page: page, settings: settings}" />
			</li>
		</f:for>
	</ul>
</f:section>

<f:section name="Item">
	<f:render partial="Components/Card" section="Media" arguments="{media: page.media, settings: settings.xo.modules.teaser.pictureSettings.card}" />
	<f:render partial="Components/Card" section="Badges" arguments="{badges: page.badges}" />
	<f:render partial="Components/Card" section="Title" arguments="{title: page.title, link: '{f:uri.page(pageUid: page.uid)}'}" />
</f:section>
</html>
